backend/lib/gabrielbull/ups-api/src/WSDL/AccessRequestXPCI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:auth="http://www.ups.com/schema/xpci/1.0/auth" targetNamespace="http://www.ups.com/schema/xpci/1.0/auth">
	<xsd:element name="AccessRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="UserId" type="xsd:string"/>
				<xsd:element name="Password" type="xsd:string"/>
				<xsd:element name="AccessLicenseNumber" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
